.file-list-area {
  margin-top: 50px;
}

.file-list {
  width: 100%;
  border-spacing: 0;
}

.file-list thead th {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.file-list .row th {
  text-align: left;
}

.file-list th,
.file-list td {
  padding: 10px 0;
}

.file-list td {
  font-size: 15px;
}

.file-list .delete {
  width: 100px;
  text-align: right;
}

.file-list tbody .row.deleting td {
  opacity: 0.5;
}
