#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2em;
}

.container {
  width: 100%;
  max-width: 1280px;
}

.wrapper {
  width: 100%;
}

.main-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
}
